@import '~tailwindcss/base';
@import '~tailwindcss/components';
@import '~tailwindcss/utilities';
@font-face {
    font-family: Proxima Nova;
    src: url(/fonts/pn/pn_light.woff);
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Proxima Nova;
    src: url(/fonts/pn/pn_reg.woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: Proxima Nova;
    src: url(/fonts/pn/pn_bold.woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

body {
    font-weight: 400;
    font-family: 'Proxima Nova';
}

h1,
h2,
h3,
h4,
h5,
h6 {
    @apply mb-4;
}

h1 {
    @apply text-3xl;
}

h2 {
    @apply text-2xl;
}

p {
    @apply mb-4;
}

a {
    @apply border-b border-transparent transition-all duration-150 ease-in-out;
    &:hover {
        border-color: currentColor;
    }
}

.site-nav {
    a {
        @apply py-1 px-2;
    }
}

.footer {
    position: fixed;
    bottom: 0;
}